@using SBShop.Utility.Convertors
@model IEnumerable<SBShop.Data.DTO.Product.ShowListProduct>

@{
    ViewData["Title"] = "لیست محصولات";
}

<h1>لیست محصولات</h1>

<p>
    <a asp-action="InsertProduct" class="btn rounded-pill btn-success">افزودن محصول جدید</a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                امکانات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="img-thumbnail" src="/Images/@item.Image" width="150" height="150" alt="@item.Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Price.ToRial()
                </td>
                <td>
                    <span class="badge badge-primary badge-pill">@item.CategoryName</span>
                </td>
                <td>
                    @{
                        var productName = item.Name.Replace(" ", "-").ToString();
                    }
                    <a asp-controller="ShowProduct" asp-action="ShowProduct" asp-route-id="@item.ProductId" asp-route-name="@productName" class="btn btn-sm btn-outline-info">مشاهده</a>
                    <a asp-action="UpdateProduct" asp-route-productId="@item.ProductId" class="btn btn-sm btn-outline-warning my-3">ویرایش</a>
                    <a asp-action="DeleteProduct" asp-route-productId="@item.ProductId" class="btn btn-sm btn-outline-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
